#include "h/resource.h"

// Icon resource: the file "suit.ico" is in the assets folder.
IDI_APP_ICON ICON "assets/suit.ico"

// Font resource: the file "AfacadFlux-Regular.ttf" is in the assets folder.
IDR_FONT1 RCDATA "assets/AfacadFlux-Regular.ttf"

// Icon resource for the copy button: the file "copy.ico" is in the assets folder.
IDI_COPY ICON "assets/copy.ico"
IDI_UPLOAD ICON "assets/fdfp.ico"
IDI_FILE ICON  "assets/file.ico"
IDI_DELETE ICON "assets/delet.ico"





